/lib
/backup
/locale
/logs
/miners
/blocks
/addresses
consopool
consopool.cfg
consopool.exe
consopool.dbg
consopool.rar
gitinst.txt
info.txt
nodes.txt
payments.txt
report.txt
frequency.dat
sharereport.txt
sh
*.res
*.lps
*.mo

