/lib
/backup
/locale
/logs
/miners
/blocks
/addresses
/data
/ami
consopool
consopool.cfg
consopool.exe
consopool.dbg
consopool.rar
gitinst.txt
info.txt
nodes.txt
payments.txt
report.txt
frequency.dat
sharereport.txt
sumary.*
tornodes.txt
torexitnodes.txt
libeay32.dll
ssleay32.dll
vpns.dat
vpns.txt
sh
*.res
*.lps
*.mo

